body {
    margin: 0 auto;
    background: hsl(201, 76%, 10%);
}
a {
    text-decoration: none;
}
h1 {
    font-family: "Lexend Deca", serif;
    font-size: 70px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px; 
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px; 
    }
}
p{
  font-family: "Lexend Deca", serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  margin: 20px 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.hero-container{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    background: hsl(201, 76%, 25%);

    border-radius: 30px;
    height: calc(100vh - 60px);
    width: calc(85vw);
}
#top{
  font-family: "Lexend Deca", serif;
  font-weight: 300;
  font-size: 190px;
}
#bottom{
  font-family: "Lexend Deca", serif;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
}
.marquee-top {
    overflow: hidden;
    width: 100%;
    color: hsl(201, 76%, 10%);
}

.marquee-bottom {
    overflow: hidden;
    width: 100%;
    color: hsl(201, 76%, 10%);
}

.marquee-inner {
    display: flex;
}

.marquee-line {
    white-space: pre-wrap;
    flex-shrink: 0;
    margin: 0;
    overflow: visible;
    min-width: 100%;
    animation-name: marqueeLine;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  font-family: "Lexend Deca", serif;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .quote {
    padding-bottom: 40px;
  }
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0; 
}

.quote-title, .quote-text {
  position: relative;
  z-index: 1; 
}

.quote-text {
  max-width: 600px;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
  .quote-text{
      font-size: 24px;
      margin: 0px 20px 2px 20px;
  }
}

@media screen and (max-width: 480px) {
  .quote-text{
      font-size: 18px;
      margin: 0px 30px 0px 30px;
  }
}

.project {
    background-image: 
    linear-gradient(to right, hsla(0, 0%, 0%, 0.15) 2px, transparent 1px),
    linear-gradient(to bottom, hsla(0, 0%, 0%, 0.2) 2px, transparent 1px);
    background-size: 40px 40px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 100px;
    COLOR: #FFFFFF;
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-project{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 40px;
  margin: 0 10px;
}
.other-project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding-bottom: 50px;
}
.certificate {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Leckerli One", serif;
    COLOR: #FFFFFF;
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051923;
}
.footer {
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: hsl(201, 76%, 35%);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  }
.copyright{
    font-family: "lexend deca", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    color: hsl(201, 76%, 87%);
    font-weight: 500;
    padding: 1rem;
    text-align: center;
  }

.certificate-box {
    font-family: "Urbanist", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .certificate-item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
    
    overflow: hidden;
  
    border-radius: 28px;
  }
  .certificate-item-link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
  }
  .certificate-item-link:hover,
  .certificate-item-link:hover .certificate-item-date {
    text-decoration: none;
    color: #FFF;
  }
  .certificate-item-link:hover .certificate-item-bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .certificate-item-title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
    
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .certificate-item-date-box {
    font-size: 18px;
    color: #FFF;
    font-weight: 100;
    z-index: 2;
    position: relative;
  }
  .certificate-item-date {
    font-size: 14px;
    font-weight: 800;
    color: hsl(201, 76%, 65%);
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .certificate-item-bg {
    height: 128px;
    width: 128px;
    background-color: hsl(201, 76%, 60%);
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .15s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  @media only screen and (max-width: 979px) {
    .certificate-item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .certificate-item-title {
      font-size: 24px;
    }
  }
  .ag-format-container {
    max-width: 900px;}
  
  @media only screen and (max-width: 639px) {
    .certificate-item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .certificate-item-title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .certificate-item-link {
      padding: 22px 40px;
    }
    .certificate-item-date-box {
      font-size: 16px;
    }
  }
  .footer-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin :0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(900px);
    transform: perspective(900px);
  }

  .card {
    width: 400px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
    background-size: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    .card-gloss {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform: translateZ(1px);
      z-index: 2;
    }
  }
  .project-card{
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width: 768px) {
    .card {
        width: 300px;
        height: 180px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 200px;
        height: 120px;
    }
}
  .typer{
    position: absolute;
    top: 50px;
    color: hsl(201, 76%, 3%);
    text-align: left;
    font-family: "Lexend Deca", serif;
    font-weight: 200;
    font-size: 25px;
    margin: 1rem 0 10Rem 3rem;
  }
  @media screen and (max-width: 768px) {
    .typer{
      font-size: 20px;
      margin: 1rem 0 10Rem 1.5rem;
    }
}
  
  @keyframes typing {
    0%, 29% { content: ""; }
    1%, 28% { content: "H"; }
    2%, 27% { content: "He"; }
    3%, 26% { content: "Hell"; }
    4%, 25% { content: "Hello"; }
    5%, 24% { content: "Hello "; }
    6%, 23% { content: "Hello W"; }
    7%, 22% { content: "Hello Wo"; }
    8%, 21% { content: "Hello Wor"; }
    9%, 20% { content: "Hello Worl"; }
    10%, 19% { content: "Hello World"; }
    11%, 18% { content: "Hello World!"; }

    35%, 95% { content: ""; }
    36%, 94% { content: "W"; }
    37%, 93% { content: "We"; }
    38%, 92% { content: "Wel"; }
    39%, 91% { content: "Welc"; }
    40%, 90% { content: "Welco"; }
    41%, 89% { content: "Welcom"; }
    42%, 88% { content: "Welcome"; }
    43%, 87% { content: "Welcome "; }
    44%, 86% { content: "Welcome t"; }
    45%, 85% { content: "Welcome to"; }
    46%, 84% { content: "Welcome to "; }
    47%, 83% { content: "Welcome to m"; }
    48%, 82% { content: "Welcome to my"; }
    49%, 81% { content: "Welcome to my "; }
    50%, 80% { content: "Welcome to my w"; }
    51%, 79% { content: "Welcome to my we"; }
    52%, 78% { content: "Welcome to my web"; }
    53%, 77% { content: "Welcome to my webs"; }
    54%, 76% { content: "Welcome to my websi"; }
    55%, 75% { content: "Welcome to my websit"; } 
    56%, 74% { content: "Welcome to my website!"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 10s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  .typewriter.thick::after {
    color: hsl(201, 76%, 12%);
    border-right: 0.3ch solid var(--caret);
  }

  .project-button {
    background-color: #004A7F;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
  }

  @keyframes glowing {
    0% { background-color: hsl(201, 76%, 35%); box-shadow: 0 0 3px hsl(201, 76%, 80%); }
    50% { background-color: hsl(201, 76%, 40%); box-shadow: 0 0 10px hsl(201, 76%, 90%); }
    100% { background-color: hsl(201, 76%, 35%);; box-shadow: 0 0 3px hsl(201, 76%, 80%); }
  }
.photo-container{
  display: flex;
  flex-direction: column;
  background-image: 
  linear-gradient(to right, hsla(0, 100%, 99%, 0.1) 1px, transparent 1px),
  linear-gradient(to bottom, hsla(0, 100%, 99%, 0.1) 1px, transparent 1px);
  background-position: center;
  background-size: 70px 70px; 
}
  .photo-gallery {
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    margin: 50px;
}

.gallery {
    width: 33.33%;
    overflow: hidden;
    position: relative;
}

.gallery .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    min-height: 70px;
    background: hsla(0, 0%, 7%, 0.7);
}

.gallery:hover .content {
    opacity: 1;
}

.gallery .image {
    z-index: 1;
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 3s ease;
}

.gallery:hover .content {
    bottom: 0px;
    color: #fff;
}

.gallery:hover .image img {
    transform: scale(1);
}

.gallery .content span:first-child {
    font-family: "Urbanist", serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 900;
    color: #fff;
    font-size: 21px;
}

.gallery .content span:last-child {
    font-family: "Urbanist", serif;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .gallery {
        width: 50%;
    }
    .gallery .content {
        bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .photo-gallery {
        margin: 0;
    }
    .gallery {
        width: 100%;
    }
}
  
  @keyframes typingNew {
    0%, 24% { content: ""; }
    1%, 23% { content: "H"; }
    2%, 22% { content: "He"; }
    3%, 21% { content: "Hel"; }
    4%, 20% { content: "Hell"; }
    5%, 19% { content: "Hello"; }
    6%, 18% { content: "Hello!"; }

    25%, 47% { content: ""; }
    26%, 46% { content: "H"; }
    27%, 45% { content: "Ha"; }
    28%, 44% { content: "Hal"; }
    29%, 43% { content: "Halo"; }
    30%, 42% { content: "Halo!"; }

    48%, 70% { content: ""; }
    49%, 69% { content: "C"; }
    50%, 68% { content: "Ci"; }
    51%, 67% { content: "Cia"; }
    52%, 66% { content: "Ciao"; }
    53%, 65% { content: "Ciao!"; }


    71%, 99% { content: ""; }
    72%, 98% { content: "H"; }
    73%, 97% { content: "Ho"; }
    74%, 96% { content: "Hol"; }
    75%, 95% { content: "Hola"; }
    76%, 94% { content: "Hola!"; }
}

@keyframes blinkNew {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typewriterNew {
    --caret: currentcolor;
}

.typewriterNew::before {
    content: "";
    animation: typingNew 15s infinite;
}

.typewriterNew::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blinkNew 0.5s linear infinite;
}

.typewriterNew.thick::after {
    color: hsla(0, 0%, 100%, 0.3);
    border-right: 0.3ch solid var(--caret);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 5;
  top: 0;
    width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
  transition: opacity 0.3s ease; 
  opacity: 0; 
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; 
  opacity: 1;
}

.modal-content {
  background-color: #1e1e1e;
  color: #ffffff; 
  padding: 30px 20px;
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%; 
  max-width: 600px;
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateY(-50px);
  position: relative;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
}

.modal-content img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.modal-button {
  background-color: #004A7F;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  margin : 0 auto;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-button:hover {
  background-color: hsl(201, 76%, 40%);
  box-shadow: 0 0 10px hsl(201, 76%, 90%);
}

.modal-content h1 {
  font-size: 55px;
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .modal-content h1 {
      font-size: 42px; 
  }
}

@media screen and (max-width: 480px) {
  .modal-content h1 {
      font-size: 22px; 
  }
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
}